@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

/* General */

body {
  font-family: "Kaushan Script", cursive;
  background-image: url(assets/background.png);
  background-size: cover;
}

header h1 {
  margin-top: 50px;
  color: #00602d;
  text-align: center;
  font-size: 4em;
}

header span {
  color: #da0606;
}

#title {
  display: flex;
}

#title p,
#title svg {
  margin: auto 0.5%;
  font-size: 1em;
}

.gridContainer {
  width: 90%;
  margin: 5% auto;
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 175px);
  gap: 4.47%;
}

.glass {
  width: 175px;
  height: 175px;
  border-radius: 5px;
  background-color: #d9d9d9cc;
}
